Repository isaac-sim/IsaacLab, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kellyguo11, @hhansen-bdai, @Mayankm96, @Dhoeller19, @jsmith-bdai, @nikitardn, @jtigue-bdai, @masoudmoghani, @pascal-roth

.github/CODEOWNERS:

# Codeowners are designated by their GitHub username. They are
# the people who are responsible for reviewing and approving PRs
# that modify the files that match the pattern.
#
# Codeowners are not the same as contributors. They are not
# automatically added to the PR, but they will be requested to
# review the PR when it is created.
#
# As a general rule, the codeowners are the people who are
# most familiar with the code that the PR is modifying. If you
# are not sure who to add, ask in the issue or in the PR itself.
#
# The format of the file is as follows:
# <file pattern> <codeowners>


# App experience files
# These are the files that are used to launch the app with the correct settings and configurations
/apps/ @kellyguo11 @hhansen-bdai @Mayankm96 @Dhoeller19

# Core Framework
/source/isaaclab/ @Dhoeller19 @Mayankm96 @jsmith-bdai @kellyguo11
/source/isaaclab/isaaclab/actuators @Dhoeller19 @Mayankm96 @nikitardn @jtigue-bdai
/source/isaaclab/isaaclab/app @hhansen-bdai @kellyguo11
/source/isaaclab/isaaclab/assets @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96 @jtigue-bdai
/source/isaaclab/isaaclab/assets/deformable_object @kellyguo11 @Mayankm96 @masoudmoghani
/source/isaaclab/isaaclab/controllers @Mayankm96
/source/isaaclab/isaaclab/envs @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/source/isaaclab/isaaclab/envs/manager_based_* @jsmith-bdai @Dhoeller19 @Mayankm96
/source/isaaclab/isaaclab/envs/direct_* @kellyguo11
/source/isaaclab/isaaclab/managers @jsmith-bdai @Dhoeller19 @Mayankm96
/source/isaaclab/isaaclab/sensors @jsmith-bdai @Dhoeller19 @pascal-roth @Mayankm96 @jtigue-bdai
/source/isaaclab/isaaclab/sensors/camera @kellyguo11 @pascal-roth
/source/isaaclab/isaaclab/sensors/contact_sensor @jtigue-bdai
/source/isaaclab/isaaclab/sensors/frame_transformer @jsmith-bdai
/source/isaaclab/isaaclab/sensors/ray_caster @pascal-roth @Dhoeller19
/source/isaaclab/isaaclab/sim @Mayankm96 @jsmith-bdai
/source/isaaclab/isaaclab/sim/simulation_context.py @Dhoeller19 @kellyguo11
/source/isaaclab/isaaclab/terrains @Dhoeller19 @Mayankm96 @nikitardn
/source/isaaclab/isaaclab/utils @Mayankm96 @jsmith-bdai
/source/isaaclab/isaaclab/utils/modifiers @jtigue-bdai
/source/isaaclab/isaaclab/utils/interpolation @jtigue-bdai
/source/isaaclab/isaaclab/utils/noise @jtigue-bdai @kellyguo11
/source/isaaclab/isaaclab/utils/warp @Dhoeller19 @pascal-roth
/source/isaaclab/isaaclab/utils/assets.py @Dhoeller19 @kellyguo11 @Mayankm96
/source/isaaclab/isaaclab/utils/math.py @jsmith-bdai @Dhoeller19 @Mayankm96
/source/isaaclab/isaaclab/utils/configclass.py @Mayankm96 @Dhoeller19

# RL Environment
/source/isaaclab_tasks/ @Dhoeller19 @Mayankm96 @jsmith-bdai @kellyguo11
/source/isaaclab_tasks/isaaclab_tasks/direct @Dhoeller19 @kellyguo11
/source/isaaclab_tasks/isaaclab_tasks/manager_based @Dhoeller19 @Mayankm96 @jsmith-bdai @jtigue-bdai

# Assets
/source/isaaclab_assets/isaaclab_assets/ @Dhoeller19 @pascal-roth @jsmith-bdai

# Standalone Scripts
/scripts/demos/ @jsmith-bdai @jtigue-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/scripts/environments/ @Mayankm96
/scripts/tools/ @jsmith-bdai @Mayankm96
/scripts/tutorials/ @jsmith-bdai @pascal-roth @kellyguo11 @Dhoeller19 @Mayankm96
/scripts/reinforcement_learning/ @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/scripts/imitation_learning/ @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96

# Github Actions
# This list is for people wanting to be notified every time there's a change
# related to Github Actions
/.github/ @kellyguo11 @jsmith-bdai

# Visual Studio Code
/.vscode/ @hhansen-bdai @Mayankm96

# Infrastructure (Docker, Docs, Tools)
/docker/ @hhansen-bdai @pascal-roth
/docs/ @jsmith-bdai @Dhoeller19 @kellyguo11 @Mayankm96
/tools/ @hhansen-bdai @jsmith-bdai @Dhoeller19
/isaaclab.* @hhansen-bdai @Dhoeller19 @Mayankm96 @kellyguo11

Fixes the issue of using Modifiers and history buffer together (#2461)
  source/isaaclab/isaaclab/managers/observation_manager.py
Owners: @jsmith-bdai, @Dhoeller19, @Mayankm96

Gives sensor_base tracking of dt (#2504)
  source/isaaclab/isaaclab/sensors/contact_sensor/contact_sensor.py
  source/isaaclab/isaaclab/sensors/imu/imu.py
  source/isaaclab/isaaclab/sensors/sensor_base.py
Owners: @jtigue-bdai, @jsmith-bdai, @Dhoeller19, @pascal-roth, @Mayankm96

deploy: 212de4275f03fb63ed229bcc5422af473f2c6ab1
  main/_modules/isaaclab/sensors/contact_sensor/contact_sensor.html
  main/_modules/isaaclab/sensors/imu/imu.html
  main/_modules/isaaclab/sensors/sensor_base.html
Owners: none

Fixes how camera intrinsics are used for creation and update (#1624)
  source/isaaclab/config/extension.toml
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/sensors/camera/camera.py
  source/isaaclab/isaaclab/sim/spawners/sensors/sensors_cfg.py
  source/isaaclab/isaaclab/utils/sensors.py
  source/isaaclab/test/sensors/test_camera.py
  source/isaaclab/test/sensors/test_tiled_camera.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @pascal-roth

deploy: 871e26aaa2a05724b5c46db3017242f81bee81b9
  main/_modules/isaaclab/sensors/camera/camera.html
  main/_modules/isaaclab/sim/spawners/sensors/sensors_cfg.html
  main/searchindex.js
  main/source/api/lab/isaaclab.sensors.html
  main/source/api/lab/isaaclab.sim.spawners.html
  main/source/refs/changelog.html
Owners: none

add explanation for pr
  CONTRIBUTORS.md
  docs/source/overview/environments.rst
  source/isaaclab_tasks/isaaclab_tasks/direct/assembly/__init__.py
  source/isaaclab_tasks/isaaclab_tasks/direct/assembly/run_disassembly_w_id.py
  source/isaaclab_tasks/isaaclab_tasks/direct/assembly/run_w_id.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

add image for environment
  docs/source/_static/tasks/assembly/00004.jpg
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

edit change log
  source/isaaclab_tasks/config/extension.toml
  source/isaaclab_tasks/docs/CHANGELOG.rst
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

correct format
  docs/source/overview/environments.rst
  source/isaaclab_tasks/isaaclab_tasks/direct/assembly/assembly_tasks_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/direct/assembly/disassembly_tasks_cfg.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

replace wholesale for flat iterable
  source/isaaclab/isaaclab/utils/dict.py
Owners: @Mayankm96, @jsmith-bdai

robustness changes
  source/isaaclab/isaaclab/utils/dict.py
Owners: @Mayankm96, @jsmith-bdai

organizes comments for clarity
  source/isaaclab/isaaclab/utils/dict.py
Owners: @Mayankm96, @jsmith-bdai

Changelog in draft
  source/isaaclab/config/extension.toml
  source/isaaclab/docs/CHANGELOG.rst
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

fix math module function orders
  source/isaaclab/isaaclab/utils/math.py
Owners: @jsmith-bdai, @Dhoeller19, @Mayankm96

fix docstring formating
  source/isaaclab/isaaclab/utils/math.py
Owners: @jsmith-bdai, @Dhoeller19, @Mayankm96

fix test convertion to pytest
  source/isaaclab/test/actuators/test_dc_motor.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

fix format
  source/isaaclab/docs/CHANGELOG.rst
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Update docs/source/setup/walkthrough/api_env_design.rst
  docs/source/setup/walkthrough/api_env_design.rst
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96

optimize imu updates
  source/isaaclab/isaaclab/sensors/imu/imu.py
Owners: @jsmith-bdai, @Dhoeller19, @pascal-roth, @Mayankm96, @jtigue-bdai

add imu projected_gravity
  source/isaaclab/isaaclab/envs/mdp/observations.py
  source/isaaclab/isaaclab/sensors/imu/imu.py
  source/isaaclab/isaaclab/sensors/imu/imu_data.py
  source/isaaclab/test/sensors/test_imu.py
Owners: @jsmith-bdai, @Dhoeller19, @kellyguo11, @Mayankm96, @pascal-roth, @jtigue-bdai

Handling exceptions when raised inside the initialization callbacks
  source/isaaclab/config/extension.toml
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/assets/asset_base.py
  source/isaaclab/isaaclab/assets/rigid_object_collection/rigid_object_collection.py
  source/isaaclab/isaaclab/sensors/sensor_base.py
  source/isaaclab/isaaclab/sim/simulation_context.py
  source/isaaclab/test/assets/test_articulation.py
  source/isaaclab/test/assets/test_deformable_object.py
  source/isaaclab/test/assets/test_rigid_object.py
  source/isaaclab/test/assets/test_rigid_object_collection.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11, @jtigue-bdai, @pascal-roth

remove self references
  source/isaaclab/test/utils/test_math.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

remove self references
  source/isaaclab/test/utils/test_math.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Changes the quat_box_minus implementation and adds quat_box_plus and rigid_body_twist_transform (#2217)
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/utils/math.py
  source/isaaclab/test/utils/test_math.py
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Update extension.toml
  source/isaaclab/config/extension.toml
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11

Update extension.toml
  source/isaaclab/config/extension.toml
Owners: @Dhoeller19, @Mayankm96, @jsmith-bdai, @kellyguo11
