Repository isaac-sim/IsaacLab, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kellyguo11, @hhansen-bdai, @Mayankm96, @jtigue-bdai, @masoudmoghani, @occtipus, @peterd-NV, @Toni-SM, @pascal-roth, @matthewtrepte, @ossamaAhmed, @ClemensSchwarke, @Peter-NV, @Toni-NV

fix anyio license
  .github/workflows/license-exceptions.json
Owners: @kellyguo11, @hhansen-bdai

Fixes IsaacLab Mimic doc build warnings (#3065)
  source/isaaclab/config/extension.toml
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/envs/manager_based_rl_mimic_env.py
  source/isaaclab_mimic/config/extension.toml
  source/isaaclab_mimic/docs/CHANGELOG.rst
  source/isaaclab_mimic/isaaclab_mimic/datagen/utils.py
  source/isaaclab_tasks/config/extension.toml
  source/isaaclab_tasks/docs/CHANGELOG.rst
  source/isaaclab_tasks/isaaclab_tasks/direct/forge/forge_events.py
  source/isaaclab_tasks/isaaclab_tasks/direct/humanoid_amp/motions/motion_viewer.py
Owners: @Mayankm96, @jtigue-bdai, @peterd-NV, @kellyguo11

Adds new environemnt. Reformats other environments
  source/isaaclab_tasks/isaaclab_tasks/direct/assembly_kit/assembly_kit_env_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/direct/peg_insertion_side/assets/create_box_and_peg.py
  source/isaaclab_tasks/isaaclab_tasks/direct/two_robot_stack_cube/__init__.py
  source/isaaclab_tasks/isaaclab_tasks/direct/two_robot_stack_cube/agents/__init__.py
  source/isaaclab_tasks/isaaclab_tasks/direct/two_robot_stack_cube/agents/rl_games_ppo_cfg.yaml
  source/isaaclab_tasks/isaaclab_tasks/direct/two_robot_stack_cube/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/direct/two_robot_stack_cube/agents/sb3_ppo_cfg.yaml
  source/isaaclab_tasks/isaaclab_tasks/direct/two_robot_stack_cube/agents/skrl_amp_cfg.yaml
  source/isaaclab_tasks/isaaclab_tasks/direct/two_robot_stack_cube/agents/skrl_ppo_cfg.yaml
  source/isaaclab_tasks/isaaclab_tasks/direct/two_robot_stack_cube/demo/zero_agent_two_robots.py
  source/isaaclab_tasks/isaaclab_tasks/direct/two_robot_stack_cube/two_robot_stack_cube_env.py
  source/isaaclab_tasks/isaaclab_tasks/direct/two_robot_stack_cube/two_robot_stack_cube_env_cfg.py
Owners: @kellyguo11

Adds docstrings comments
  source/isaaclab_tasks/isaaclab_tasks/direct/two_robot_stack_cube/two_robot_stack_cube_env.py
Owners: @kellyguo11

Removed cloning in USD if not rendering (#604)
  source/isaaclab/isaaclab/cloner/cloner.py
  source/isaaclab/isaaclab/cloner/grid_cloner.py
  source/isaaclab/isaaclab/envs/direct_rl_env.py
  source/isaaclab/isaaclab/envs/manager_based_env.py
  source/isaaclab/isaaclab/envs/manager_based_rl_env.py
  source/isaaclab/isaaclab/sim/_impl/newton_manager.py
  source/isaaclab/isaaclab/sim/simulation_context.py
  source/isaaclab/setup.py
Owners: @kellyguo11, @Mayankm96, @jtigue-bdai, @matthewtrepte, @ossamaAhmed

Debugs contact sensors filter
  source/isaaclab_tasks/isaaclab_tasks/direct/two_robot_stack_cube/two_robot_stack_cube_env_cfg.py
Owners: @kellyguo11

Sets orientation of the cubes to differentiate them. The color of the cube is defined by the top face at initialization
  source/isaaclab_tasks/isaaclab_tasks/direct/two_robot_stack_cube/two_robot_stack_cube_env_cfg.py
Owners: @kellyguo11

adds tutorial on specifying agent config
  docs/source/api/lab_rl/isaaclab_rl.rst
  docs/source/how-to/add_own_library.rst
  docs/source/setup/walkthrough/project_setup.rst
  docs/source/tutorials/03_envs/configuring_rl_training.rst
  docs/source/tutorials/index.rst
  source/isaaclab_tasks/isaaclab_tasks/manager_based/classic/cartpole/__init__.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/classic/cartpole/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/classic/cartpole/mdp/symmetry.py
Owners: @jtigue-bdai, @kellyguo11, @Mayankm96

adds full algorithm configs for symmetry in anymal
  source/isaaclab_tasks/isaaclab_tasks/manager_based/classic/cartpole/mdp/symmetry.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/anymal_b/__init__.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/anymal_b/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/anymal_c/__init__.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/anymal_c/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/anymal_d/__init__.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/anymal_d/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/mdp/symmetry/__init__.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/mdp/symmetry/anymal.py
Owners: @Mayankm96

adds agent to skrl in backwards compat way
  scripts/reinforcement_learning/skrl/play.py
  scripts/reinforcement_learning/skrl/train.py
Owners: @occtipus, @Toni-NV

fix docs build issues
  docs/source/refs/release_notes.rst
  docs/source/tutorials/03_envs/configuring_rl_training.rst
Owners: @jtigue-bdai, @kellyguo11, @Mayankm96

Fixes `anyio` license checking (#3091)
  .github/workflows/license-exceptions.json
Owners: @kellyguo11, @hhansen-bdai

fixed sensor updating without USD prim paths (#605)
  source/isaaclab/isaaclab/cloner/grid_cloner.py
  source/isaaclab/isaaclab/scene/interactive_scene.py
  source/isaaclab/isaaclab/sensors/sensor_base.py
  source/isaaclab/isaaclab/sim/_impl/newton_manager.py
Owners: @pascal-roth

Format the code
  source/isaaclab/isaaclab/sensors/imu/imu.py
Owners: @jtigue-bdai, @pascal-roth

Updates onnx and protobuf version due to vulnerabilities (#602)
  .github/workflows/license-exceptions.json
  source/isaaclab/setup.py
  source/isaaclab/test/sensors/test_multi_tiled_camera.py
  source/isaaclab_rl/setup.py
  source/isaaclab_tasks/isaaclab_tasks/direct/automate/automate_algo_utils.py
  source/isaaclab_tasks/setup.py
  tools/test_settings.py
Owners: @kellyguo11, @hhansen-bdai

Oahmed/newton remove cloner (#606)
  source/isaaclab/setup.py
Owners: none

Fixes IsaacLab Mimic doc build warnings (#3065)
  source/isaaclab/config/extension.toml
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/envs/manager_based_rl_mimic_env.py
  source/isaaclab_mimic/config/extension.toml
  source/isaaclab_mimic/docs/CHANGELOG.rst
  source/isaaclab_mimic/isaaclab_mimic/datagen/utils.py
  source/isaaclab_tasks/config/extension.toml
  source/isaaclab_tasks/docs/CHANGELOG.rst
  source/isaaclab_tasks/isaaclab_tasks/direct/forge/forge_events.py
  source/isaaclab_tasks/isaaclab_tasks/direct/humanoid_amp/motions/motion_viewer.py
Owners: @Mayankm96, @jtigue-bdai, @peterd-NV, @kellyguo11

adds event function
  source/isaaclab/isaaclab/envs/mdp/events.py
Owners: @occtipus

formats
  source/isaaclab/isaaclab/envs/mdp/events.py
Owners: @occtipus

changes function into class and implements the tests at creation stage
  source/isaaclab/isaaclab/envs/mdp/events.py
Owners: @occtipus

adds operation check and fix some docstrings
  source/isaaclab/isaaclab/envs/mdp/events.py
Owners: @occtipus

adds tuple check for range
  source/isaaclab/isaaclab/envs/mdp/events.py
Owners: @occtipus

completes docstring in internal helper func
  source/isaaclab/isaaclab/envs/mdp/events.py
Owners: @occtipus

completes doctstring
  source/isaaclab/isaaclab/envs/mdp/events.py
Owners: @occtipus

formats
  source/isaaclab/isaaclab/envs/mdp/events.py
Owners: @occtipus

Improve performance if asset_cfg.joint_ids is a slice
  source/isaaclab/isaaclab/envs/mdp/events.py
Owners: @occtipus

.github/CODEOWNERS:

# Codeowners are designated by their GitHub username. They are
# the people who are responsible for reviewing and approving PRs
# that modify the files that match the pattern.
#
# Codeowners are not the same as contributors. They are not
# automatically added to the PR, but they will be requested to
# review the PR when it is created.
#
# As a general rule, the codeowners are the people who are
# most familiar with the code that the PR is modifying. If you
# are not sure who to add, ask in the issue or in the PR itself.
#
# The format of the file is as follows:
# <file pattern> <codeowners>


# App experience files
# These are the files that are used to launch the app with the correct settings and configurations
/apps/ @kellyguo11 @hhansen-bdai @Mayankm96

# Core Framework
/source/isaaclab/isaaclab/actuators @Mayankm96 @jtigue-bdai
/source/isaaclab/isaaclab/app @hhansen-bdai @kellyguo11
/source/isaaclab/isaaclab/assets @kellyguo11 @Mayankm96 @jtigue-bdai
/source/isaaclab/isaaclab/assets/deformable_object @masoudmoghani
/source/isaaclab/isaaclab/controllers @Mayankm96
/source/isaaclab/isaaclab/envs/manager_based_* @Mayankm96 @jtigue-bdai
/source/isaaclab/isaaclab/envs/direct_* @kellyguo11
/source/isaaclab/isaaclab/envs/mdp @occtipus
/source/isaaclab/isaaclab/envs/mimic_* @peterd-NV
/source/isaaclab/isaaclab/envs/ui @occtipus
/source/isaaclab/isaaclab/envs/utils @Toni-SM
/source/isaaclab/isaaclab/managers @jtigue-bdai @Mayankm96
/source/isaaclab/isaaclab/sensors/sensor_base* @pascal-roth
/source/isaaclab/isaaclab/sensors/camera @kellyguo11 @pascal-roth
/source/isaaclab/isaaclab/sensors/contact_sensor @jtigue-bdai
/source/isaaclab/isaaclab/sensors/imu @jtigue-bdai @pascal-roth
/source/isaaclab/isaaclab/sensors/ray_caster @pascal-roth
/source/isaaclab/isaaclab/sensors/frame_transformer @jtigue-bdai  # added by RAI, maybe someone else wants to take over
/source/isaaclab/isaaclab/sim/converters @Mayankm96 @jtigue-bdai
/source/isaaclab/isaaclab/sim/schemas @Mayankm96 @jtigue-bdai
/source/isaaclab/isaaclab/sim/spawners @Mayankm96 @jtigue-bdai
/source/isaaclab/isaaclab/sim/simulation_* @matthewtrepte @ossamaAhmed
/source/isaaclab/isaaclab/terrains @Mayankm96
/source/isaaclab/isaaclab/ui @pascal-roth @jtigue-bdai
/source/isaaclab/isaaclab/utils/buffers @occtipus
/source/isaaclab/isaaclab/utils/datasets @occtipus
/source/isaaclab/isaaclab/utils/interpolation @jtigue-bdai
/source/isaaclab/isaaclab/utils/io @occtipus
/source/isaaclab/isaaclab/utils/modifiers @jtigue-bdai
/source/isaaclab/isaaclab/utils/noise @jtigue-bdai @kellyguo11
/source/isaaclab/isaaclab/utils/warp @pascal-roth
/source/isaaclab/isaaclab/utils/assets.py @kellyguo11 @Mayankm96
/source/isaaclab/isaaclab/utils/math.py @jtigue-bdai @Mayankm96
/source/isaaclab/isaaclab/utils/configclass.py @Mayankm96
/source/isaaclab/isaaclab/utils/sensors.py @kellyguo11 @pascal-roth

# RL Environment
/source/isaaclab_tasks/isaaclab_tasks/direct @kellyguo11
/source/isaaclab_tasks/isaaclab_tasks/manager_based @Mayankm96
/source/isaaclab_tasks/isaaclab_tasks/utils @Mayankm96

# Assets
/source/isaaclab_assets/isaaclab_assets/ @pascal-roth

# Mimic
/source/isaaclab_mimic/isaaclab_mimic @peterd-NV

# RL
/source/isaaclab_rl/isaaclab_rl/rsl_rl @Mayankm96 @ClemensSchwarke
/source/isaaclab_rl/isaaclab_rl/rl_games @Toni-SM
/source/isaaclab_rl/isaaclab_rl/sb3 @Toni-SM
/source/isaaclab_rl/isaaclab_rl/skrl @Toni-SM

# Standalone Scripts
/scripts/benchmarks/ @occtipus
/scripts/demos/ @occtipus
/scripts/environments/ @occtipus
/scripts/imitation_learning/ @Peter-NV
/scripts/reinforcement_learning/ @occtipus @Toni-NV
/scripts/imitation_learning/ @Peter-NV
/scripts/tools/ @jtigue-bdai @Mayankm96
/scripts/tutorials/ @jtigue-bdai @pascal-roth

# Github Actions
# This list is for people wanting to be notified every time there's a change
# related to Github Actions
/.github/ @kellyguo11 @hhansen-bdai

# Visual Studio Code
/.vscode/ @hhansen-bdai @Mayankm96

# Infrastructure (Docker, Docs, Tools)
/docker/ @hhansen-bdai @pascal-roth
/docs/ @jtigue-bdai @kellyguo11 @Mayankm96
/tools/ @hhansen-bdai
/isaaclab.* @hhansen-bdai @Mayankm96 @kellyguo11
