Repository isaac-sim/IsaacLab, pull requests merged in 2023-03, with the labels that each got.

#29 Fix minor typos in the documentation
  docs/source/api/orbit.actuators.model.rst
  docs/source/features/motion_generators.rst
  docs/source/setup/developer.rst
  docs/source/tutorials/01_arms.rst
  source/extensions/omni.isaac.orbit/omni/isaac/orbit/actuators/model/actuator_physics.py
  source/extensions/omni.isaac.orbit/omni/isaac/orbit/utils/math.py
Labels: documentation

#33 Fixes rewards for Lift-Franka environment
  source/extensions/omni.isaac.orbit/config/extension.toml
  source/extensions/omni.isaac.orbit/docs/CHANGELOG.rst
  source/extensions/omni.isaac.orbit/omni/isaac/orbit/actuators/config/franka.py
  source/extensions/omni.isaac.orbit/omni/isaac/orbit/actuators/group/gripper_group.py
  source/extensions/omni.isaac.orbit/omni/isaac/orbit/objects/articulated/articulated_object.py
  source/extensions/omni.isaac.orbit/omni/isaac/orbit/objects/articulated/articulated_object_cfg.py
  source/extensions/omni.isaac.orbit/omni/isaac/orbit/objects/rigid/rigid_object.py
  source/extensions/omni.isaac.orbit/omni/isaac/orbit/objects/rigid/rigid_object_cfg.py
  source/extensions/omni.isaac.orbit/omni/isaac/orbit/robots/config/anymal.py
  source/extensions/omni.isaac.orbit/omni/isaac/orbit/robots/config/franka.py
  source/extensions/omni.isaac.orbit/omni/isaac/orbit/robots/config/unitree.py
  source/extensions/omni.isaac.orbit/omni/isaac/orbit/robots/legged_robot/legged_robot.py
  source/extensions/omni.isaac.orbit/omni/isaac/orbit/robots/robot_base.py
  source/extensions/omni.isaac.orbit/omni/isaac/orbit/robots/robot_base_cfg.py
  source/extensions/omni.isaac.orbit/omni/isaac/orbit/robots/single_arm/single_arm.py
  source/extensions/omni.isaac.orbit/omni/isaac/orbit/robots/single_arm/single_arm_cfg.py
  source/extensions/omni.isaac.orbit/omni/isaac/orbit/utils/kit.py
  source/extensions/omni.isaac.orbit_envs/config/extension.toml
  source/extensions/omni.isaac.orbit_envs/data/rl_games/lift_ppo.yaml
  source/extensions/omni.isaac.orbit_envs/data/rsl_rl/lift_ppo.yaml
  source/extensions/omni.isaac.orbit_envs/docs/CHANGELOG.rst
  source/extensions/omni.isaac.orbit_envs/omni/isaac/orbit_envs/manipulation/lift/lift_cfg.py
  source/extensions/omni.isaac.orbit_envs/omni/isaac/orbit_envs/manipulation/lift/lift_env.py
  source/standalone/environments/state_machine/play_lift.py
Labels: bug

#42 Adds support for conda environment
  .vscode/launch.json
  .vscode/tasks.json
  .vscode/tools/setup_vscode.py
  docs/requirements.txt
  docs/source/setup/developer.rst
  docs/source/setup/installation.rst
  docs/source/setup/sample.rst
  orbit.sh
Labels: enhancement
