Repository isaac-sim/IsaacLab, pull requests merged in 2024-07, with the labels that each got.

#603 Removes duplicate enabling of faulthandler
  .github/PULL_REQUEST_TEMPLATE.md
  source/extensions/omni.isaac.lab/omni/isaac/lab/app/app_launcher.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/commands/pose_command.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/commands/velocity_command.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/navigation/mdp/pre_trained_policy_action.py
Labels: bug

#610 Fixes the check for action-space inside Stable-Baselines3 wrapper
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/utils/wrappers/sb3.py
Labels: bug

#614 Fixes the rendering logic regression in environments
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/app/app_launcher.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_rl_env.py
  source/extensions/omni.isaac.lab/test/envs/test_env_rendering_logic.py
Labels: bug

#592 Updates skrl integration to support training/evaluation using JAX
  docs/source/setup/sample.rst
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/utils/wrappers/skrl.py
  source/standalone/workflows/skrl/play.py
  source/standalone/workflows/skrl/train.py
Labels: enhancement

#628 Fixes VSCode settings to work with pip installation of Isaac Sim
  .vscode/tasks.json
  .vscode/tools/launch.template.json
  .vscode/tools/settings.template.json
  .vscode/tools/setup_vscode.py
  docs/source/setup/developer.rst
Labels: bug

#640 Fixes issue with asset deinitialization due to torch > 2.1
  docker/container.sh
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py
  source/extensions/omni.isaac.lab/test/assets/test_articulation.py
  source/extensions/omni.isaac.lab/test/assets/test_rigid_object.py
  source/extensions/omni.isaac.lab/test/deps/isaacsim/check_ref_count.py
  source/extensions/omni.isaac.lab/test/sensors/test_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_ray_caster_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_tiled_camera.py
  source/extensions/omni.isaac.lab_assets/test/test_valid_configs.py
Labels: bug

#621 Cleans up instructions for custom dependency installation
  docs/source/setup/developer.rst
  tools/install_deps.py
Labels: documentation

#643 Removes the use of body view inside the asset classes
  docs/source/setup/installation/index.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object.py
  source/extensions/omni.isaac.lab/test/assets/test_articulation.py
  source/extensions/omni.isaac.lab/test/assets/test_rigid_object.py
Labels: bug

#647 Fixes the valid configs test in `lab_assets` extension
  source/extensions/omni.isaac.lab_assets/test/test_valid_configs.py
Labels: bug

#631 Fixes `isaaclab` scripts to deal with Isaac Sim pip installation
  .vscode/tools/setup_vscode.py
  docker/Dockerfile.pip
  docker/container.sh
  docs/source/setup/installation/binaries_installation.rst
  docs/source/setup/installation/pip_installation.rst
  isaaclab.bat
  isaaclab.sh
Labels: bug

#636 Optimizes interactive scene for homogeneous cloning
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/scene/interactive_scene.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/scene/interactive_scene_cfg.py
Labels: enhancement

#649 Fixes isaaclab.sh script to deal with local system python
  .vscode/tools/setup_vscode.py
  docker/Dockerfile.pip
  isaaclab.sh
Labels: bug

#651 Fixes conda installation using `isaaclab.sh` script
  isaaclab.sh
Labels: bug

#613 Adds APIs for spawning deformable meshes
  docs/source/api/lab/omni.isaac.lab.sim.schemas.rst
  docs/source/api/lab/omni.isaac.lab.sim.spawners.rst
  docs/source/setup/sample.rst
  docs/source/tutorials/00_sim/spawn_prims.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/converters/mesh_converter.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/schemas/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/schemas/schemas.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/schemas/schemas_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/from_files/from_files.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/from_files/from_files_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/materials/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/materials/physics_materials.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/materials/physics_materials_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/meshes/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/meshes/meshes.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/meshes/meshes_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/spawner_cfg.py
  source/extensions/omni.isaac.lab/test/sim/check_meshes.py
  source/extensions/omni.isaac.lab/test/sim/test_spawn_materials.py
  source/extensions/omni.isaac.lab/test/sim/test_spawn_meshes.py
  source/standalone/demos/deformables.py
  source/standalone/tutorials/00_sim/spawn_prims.py
Labels: enhancement

#666 Adds event manager call to simple manage-based env
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/event_manager.py
  tools/per_test_timeouts.py
Labels: bug
