Repository isaac-sim/IsaacLab, pull requests merged in 2024-06, with the labels that each got.

#459 Fixes torch index url in setup.py and links in the documentation
  README.md
  docs/index.rst
  docs/source/features/workflows.rst
  docs/source/how-to/master_omniverse.rst
  isaaclab.bat
  isaaclab.sh
  source/extensions/omni.isaac.lab/setup.py
  source/extensions/omni.isaac.lab_tasks/setup.py
Labels: documentation

#562 Cleans up the buffer-related implementations
  docs/source/api/lab/omni.isaac.lab.actuators.rst
  docs/source/api/lab/omni.isaac.lab.utils.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/actuators/actuator_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/actuators/actuator_pd.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/buffers/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/buffers/circular_buffer.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/buffers/delay_buffer.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/buffers/timestamped_buffer.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/interpolation/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/interpolation/linear_interpolation.py
  source/extensions/omni.isaac.lab/test/utils/test_circular_buffer.py
  source/extensions/omni.isaac.lab/test/utils/test_delay_buffer.py
  source/extensions/omni.isaac.lab_assets/omni/isaac/lab_assets/spot.py
Labels: documentation, enhancement

#566 Adds support for underscore and hyphens in RL framework names
  source/extensions/omni.isaac.lab_tasks/setup.py
Labels: bug

#580 Fixes reference count in asset instances due to circular references
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/asset_base.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/sensor_base.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/humanoid/mdp/observations.py
Labels: bug

#574 Adds distributed multi-GPU learning support for skrl
  docs/source/features/multi_gpu.rst
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/utils/wrappers/skrl.py
  source/extensions/omni.isaac.lab_tasks/setup.py
  source/standalone/workflows/skrl/play.py
  source/standalone/workflows/skrl/train.py
Labels: enhancement

#573 Moves migration guides to their own section in the docs
  docs/index.rst
  docs/source/features/multi_gpu.rst
  docs/source/migration/index.rst
  docs/source/migration/migrating_from_isaacgymenvs.rst
  docs/source/migration/migrating_from_omniisaacgymenvs.rst
  docs/source/migration/migrating_from_orbit.rst
  docs/source/refs/migration.rst
Labels: documentation

#584 Fixes sphinx tabs to make them work in dark theme
  VERSION
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
  docs/source/features/multi_gpu.rst
  docs/source/setup/developer.rst
  docs/source/setup/installation/binaries_installation.rst
  docs/source/setup/installation/cloud_installation.rst
  docs/source/setup/installation/pip_installation.rst
  docs/source/setup/installation/verifying_installation.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py
Labels: bug, documentation

#585 Changes documentation color to green theme
  docs/source/_static/css/custom.css
  docs/source/setup/installation/verifying_installation.rst
Labels: documentation

#582 Reads gravity direction from simulation inside `RigidObjectData`
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/events.py
  source/extensions/omni.isaac.lab/test/assets/test_rigid_object.py
Labels: bug

#601 Adds dark theme images for multi-GPU and actuators
  docs/source/_static/actuator-group/actuator-dark.svg
  docs/source/_static/actuator-group/actuator-light.svg
  docs/source/_static/multi-gpu-rl/a3c-dark.svg
  docs/source/_static/multi-gpu-rl/a3c-light.svg
  docs/source/_static/multigpu.png
  docs/source/features/actuators.rst
  docs/source/features/multi_gpu.rst
Labels: documentation

#600 Fixes open cabinet state machine run instructions in script
  CONTRIBUTORS.md
  source/standalone/environments/state_machine/open_cabinet_sm.py
Labels: documentation
