Repository isaac-sim/IsaacLab, pull requests merged in 2024-10, with the labels that each got.

#1119 Fixes minor typos in docs
  CONTRIBUTORS.md
  docs/source/overview/teleop_imitation.rst
  source/standalone/demos/quadrupeds.py
Labels: documentation

#1116 Fixes docs on running tutorials with cameras
  docs/source/how-to/save_camera_output.rst
  docs/source/tutorials/04_sensors/add_sensors_on_robot.rst
  source/standalone/tutorials/04_sensors/add_sensors_on_robot.py
  source/standalone/tutorials/04_sensors/run_usd_camera.py
Labels: bug, documentation, dev team

#1129 Fixes deprecation notice for using `pxr.Semantics`
  pyproject.toml
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/utils.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand/shadow_hand_vision_env.py
Labels: bug

#1133 Fixes scaling of default ground plane
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/from_files/from_files.py
Labels: bug

#858 Expands functionality of FrameTransformer to allow multi-body transforms
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/frame_transformer/frame_transformer.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/frame_transformer/frame_transformer_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/frame_transformer/frame_transformer_data.py
  source/extensions/omni.isaac.lab/test/sensors/test_frame_transformer.py
  source/standalone/tutorials/04_sensors/run_frame_transformer.py
Labels: enhancement, dev team

#1118 Updates pre-merge and post-merge CI
  .github/workflows/postmerge-ci-buildspec.yml
  .github/workflows/premerge-ci-buildspec.yml
  docker/.env.base
  docker/Dockerfile.base
  docker/docker-compose.yaml
  tools/run_all_tests.py
Labels: dev team

#1140 Fixes the event for randomizing rigid body material
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/events.py
Labels: bug

#1164 Adds configuration classes for spawning different assets at prim paths
  docs/source/_static/demos/multi_asset.jpg
  docs/source/api/lab/omni.isaac.lab.sim.spawners.rst
  docs/source/how-to/index.rst
  docs/source/how-to/multi_asset_spawning.rst
  docs/source/overview/showroom.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/scene/interactive_scene.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/spawner_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/wrappers/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/wrappers/wrappers.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/wrappers/wrappers_cfg.py
  source/extensions/omni.isaac.lab/test/sim/test_spawn_wrappers.py
  source/standalone/demos/multi_asset.py
Labels: enhancement

#1175 Fixes device propogation for noise and adds noise tests
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/noise/noise_model.py
  source/extensions/omni.isaac.lab/test/utils/test_noise.py
Labels: bug

#1217 Removes extension startup messages from the Simulation App
  docs/source/refs/troubleshooting.rst
  source/apps/isaaclab.python.headless.kit
  source/apps/isaaclab.python.kit
  source/extensions/omni.isaac.lab/omni/isaac/lab/app/app_launcher.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/warp/ops.py
Labels: enhancement

#1210 Fixes the checkpoint loading error in RSL-RL training script
  CONTRIBUTORS.md
  source/standalone/workflows/rsl_rl/train.py
Labels: bug

#1222 Disables backward pass compilation of warp kernels
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/warp/kernels.py
Labels: enhancement

#1215 Switches from `carb` to `omni.log` for logging
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/deformable_object/deformable_object.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_marl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/binary_joint_actions.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/joint_actions.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/joint_actions_to_limits.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/non_holonomic_actions.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/task_space_actions.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/event_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/manager_base.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/scene/interactive_scene.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/frame_transformer/frame_transformer.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/schemas/schemas.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/from_files/from_files.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/sensors/sensors.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/utils.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/terrains/terrain_generator.py
  source/extensions/omni.isaac.lab/test/deps/isaacsim/check_floating_base_made_fixed.py
  source/extensions/omni.isaac.lab/test/deps/isaacsim/check_legged_robot_clone.py
  source/extensions/omni.isaac.lab/test/deps/isaacsim/check_ref_count.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/utils/data_collector/robomimic_data_collector.py
  source/standalone/environments/state_machine/open_cabinet_sm.py
  source/standalone/environments/teleoperation/teleop_se3_agent.py
Labels: enhancement

#619 Adds `IMU` sensor
  docs/source/api/lab/omni.isaac.lab.sensors.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/observations.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/utils.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/imu/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/imu/imu.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/imu/imu_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/imu/imu_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster_camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/math.py
  source/extensions/omni.isaac.lab/test/sensors/check_imu_sensor.py
  source/extensions/omni.isaac.lab/test/sensors/test_imu.py
  source/extensions/omni.isaac.lab/test/sensors/urdfs/simple_2_link.urdf
  source/extensions/omni.isaac.lab/test/utils/test_math.py
Labels: enhancement, dev team

#1214 Adds a validity check for configclasses
  .github/workflows/docs.yaml
  docs/conf.py
  docs/source/tutorials/03_envs/create_manager_rl_env.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/asset_base.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/asset_base_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_marl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_rl_env_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/joint_actions_to_limits.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/commands/commands_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/commands/velocity_command.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/action_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/command_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/curriculum_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/event_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/manager_base.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/observation_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/reward_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/termination_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/scene/interactive_scene.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster_camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/sensor_base.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/simulation_context.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/terrains/terrain_generator_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/terrains/terrain_importer.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/terrains/terrain_importer_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/configclass.py
  source/extensions/omni.isaac.lab/test/envs/test_direct_marl_env.py
  source/extensions/omni.isaac.lab/test/envs/test_env_rendering_logic.py
  source/extensions/omni.isaac.lab/test/managers/test_event_manager.py
  source/extensions/omni.isaac.lab/test/managers/test_reward_manager.py
  source/extensions/omni.isaac.lab/test/scene/test_interactive_scene.py
  source/extensions/omni.isaac.lab/test/utils/test_configclass.py
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/ant/ant_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/cartpole/cartpole_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/humanoid/humanoid_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/spot/flat_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/cabinet/cabinet_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/navigation/config/anymal_c/navigation_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/test/test_environment_determinism.py
  source/extensions/omni.isaac.lab_tasks/test/test_environments.py
  source/extensions/omni.isaac.lab_tasks/test/test_multi_agent_environments.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_rl_games_wrapper.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_rsl_rl_wrapper.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_sb3_wrapper.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_skrl_wrapper.py
Labels: enhancement

#1272 Fixes broken URLs in markdown files
  CONTRIBUTING.md
  CONTRIBUTORS.md
  README.md
Labels: documentation

#1227 Allows configclass `to_dict` operation to handle a list of configclasses
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/dict.py
  source/extensions/omni.isaac.lab/test/utils/test_configclass.py
Labels: dev team

#1271 Updates documentation on Isaac Lab installation path for Windows
  CONTRIBUTORS.md
  docs/source/setup/installation/binaries_installation.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
Labels: documentation
