Repository isaac-sim/IsaacLab, pull requests merged in 2024-12, with the labels that each got.

#891 Adds option to change the clipping behavior for all Cameras and unifies the default
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/tiled_camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster_camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster_camera_cfg.py
  source/extensions/omni.isaac.lab/test/sensors/test_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_ray_caster_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_tiled_camera.py
Labels: bug, enhancement, dev team

#1361 Corrects fisheye camera projection types in spawner configuration
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/sensors/sensors_cfg.py
  source/extensions/omni.isaac.lab/test/sim/test_spawn_sensors.py
Labels: bug

#967 Computes Jacobian in the root frame inside the `DifferentialInverseKinematicsAction` class
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/task_space_actions.py
  source/extensions/omni.isaac.lab/test/controllers/test_differential_ik.py
Labels: bug

#1439 Adds observation term history support to Observation Manager
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/manager_term_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/observation_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/buffers/circular_buffer.py
  source/extensions/omni.isaac.lab/test/managers/test_observation_manager.py
  source/extensions/omni.isaac.lab/test/utils/test_circular_buffer.py
Labels: enhancement, dev team

#893 Adds live plots to managers
  .pre-commit-config.yaml
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/ui/base_env_window.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/ui/manager_based_rl_env_window.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/action_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/command_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/curriculum_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/manager_base.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/observation_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/reward_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/termination_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/ui/widgets/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/ui/widgets/image_plot.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/ui/widgets/line_plot.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/ui/widgets/manager_live_visualizer.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/ui/widgets/ui_visualizer_base.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/ui/widgets/ui_widget_wrapper.py
Labels: enhancement, dev team
