Repository isaac-sim/IsaacLab, pull requests merged in 2024-11, with the labels that each got.

#1269 Expands observation term scaling to support list of floats
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/manager_term_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/observation_manager.py
  source/extensions/omni.isaac.lab/test/managers/test_observation_manager.py
Labels: enhancement

#1228 Adds option to scale/translate/rotate meshes in the `mesh_converter`
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/converters/mesh_converter.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/converters/mesh_converter_cfg.py
  source/extensions/omni.isaac.lab/test/sim/test_mesh_converter.py
Labels: bug

#1338 Clarifies Isaac Lab ecosystem and installation steps in documentation
  docs/index.rst
  docs/source/_static/setup/ecosystem-dark.jpg
  docs/source/_static/setup/ecosystem-light.jpg
  docs/source/_static/setup/verify_install.jpg
  docs/source/overview/core-concepts/actuators.rst
  docs/source/overview/core-concepts/index.rst
  docs/source/overview/developer-guide/template.rst
  docs/source/setup/ecosystem.rst
  docs/source/setup/installation/binaries_installation.rst
  docs/source/setup/installation/index.rst
  docs/source/setup/installation/pip_installation.rst
  source/standalone/tutorials/00_sim/log_time.py
Labels: documentation
