Repository isaac-sim/IsaacLab, pull requests merged in 2024-08, with the labels that each got.

#771 Fixes `wrap_to_pi` function in math utilities
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/math.py
  source/extensions/omni.isaac.lab/test/utils/test_math.py
Labels: bug

#760 Uses PhysX accelerations for rigid body acceleration data
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object_data.py
  source/extensions/omni.isaac.lab/test/assets/test_rigid_object.py
Labels: enhancement

#692 Fixes setting of pose when spawning a mesh
  CONTRIBUTORS.md
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/meshes/meshes.py
  source/standalone/tutorials/00_sim/spawn_prims.py
Labels: bug

#735 Renames action term names inside manage-based lift env
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/cabinet/cabinet_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/cabinet/config/franka/ik_abs_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/cabinet/config/franka/ik_rel_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/cabinet/config/franka/joint_pos_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/lift/config/franka/ik_abs_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/lift/config/franka/ik_rel_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/lift/config/franka/joint_pos_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/lift/lift_env_cfg.py
Labels: enhancement

#742 Adds documentation on the frames for asset data
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/contact_sensor/contact_sensor.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/contact_sensor/contact_sensor_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/contact_sensor/contact_sensor_data.py
  source/standalone/demos/cameras.py
Labels: documentation

#757 Fixes caching of the terrain using the terrain generator
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/terrains/config/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/terrains/terrain_generator.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/terrains/terrain_generator_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/terrains/utils.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/string.py
  source/extensions/omni.isaac.lab/test/terrains/check_terrain_generator.py
  source/extensions/omni.isaac.lab/test/terrains/test_terrain_generator.py
  source/extensions/omni.isaac.lab/test/terrains/test_terrain_importer.py
  source/extensions/omni.isaac.lab/test/utils/test_configclass.py
  source/extensions/omni.isaac.lab/test/utils/test_dict.py
Labels: bug

#714 Renames Unitree configs in locomotion tasks to match properly
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/a1/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/a1/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/a1/agents/rsl_rl_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/a1/agents/skrl_flat_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/a1/agents/skrl_rough_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/a1/flat_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/a1/rough_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/g1/rough_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go1/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go1/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go1/agents/rsl_rl_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go1/agents/skrl_flat_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go1/agents/skrl_rough_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go1/flat_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go1/rough_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go2/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go2/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go2/agents/rsl_rl_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go2/agents/skrl_flat_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go2/agents/skrl_rough_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go2/flat_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go2/rough_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/h1/rough_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/spot/README.md
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/spot/flat_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/spot/mdp/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/spot/mdp/rewards.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/mdp/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/mdp/rewards.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/mdp/terminations.py
Labels: enhancement

#744 Adds option to set the height of the border in the `TerrainGenerator`
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/terrains/terrain_generator.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/terrains/terrain_generator_cfg.py
Labels: enhancement

#776 Updates readme to use GitHub action status for badges
  README.md
Labels: documentation

#753 Adds a cli arg to `run_all_tests.py` for testing a selected extension
  tools/run_all_tests.py
Labels: enhancement

#759 Adds throughput benchmarking scripts for different learning workflows
  source/apps/isaaclab.python.headless.kit
  source/apps/isaaclab.python.headless.rendering.kit
  source/apps/isaaclab.python.kit
  source/apps/isaaclab.python.rendering.kit
  source/extensions/omni.isaac.lab/omni/isaac/lab/app/app_launcher.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/timer.py
  source/extensions/omni.isaac.lab/test/terrains/check_terrain_importer.py
  source/extensions/omni.isaac.lab/test/terrains/test_terrain_importer.py
Labels: enhancement

#644 Decouples rigid object and articulation asset classes
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object_data.py
Labels: enhancement

#709 Adds direct workflow Allegro hand environment
  docs/source/features/environments.rst
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/allegro_hand/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/allegro_hand/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/allegro_hand/agents/rl_games_ppo_cfg.yaml
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/allegro_hand/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/allegro_hand/allegro_hand_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/inhand_manipulation/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/inhand_manipulation/inhand_manipulation_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand/__init__.py
Labels: enhancement

#772 Allows having hybrid dimensional terms inside an observation group
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/manager_term_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/observation_manager.py
  source/extensions/omni.isaac.lab/test/managers/test_observation_manager.py
Labels: enhancement

#763 Adds video recording to the play scripts in RL workflows
  docs/source/features/tiled_rendering.rst
  docs/source/how-to/wrap_rl_env.rst
  docs/source/setup/sample.rst
  docs/source/tutorials/03_envs/run_rl_training.rst
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/test/test_record_video.py
  source/standalone/workflows/rl_games/play.py
  source/standalone/workflows/rl_games/train.py
  source/standalone/workflows/rsl_rl/play.py
  source/standalone/workflows/rsl_rl/train.py
  source/standalone/workflows/sb3/play.py
  source/standalone/workflows/sb3/train.py
  source/standalone/workflows/skrl/play.py
  source/standalone/workflows/skrl/train.py
Labels: enhancement

#784 Fixes running train scripts when rsl_rl is not installed
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/allegro_hand/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/allegro_hand/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/ant/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/ant/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/anymal_c/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/anymal_c/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cartpole/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cartpole/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/franka_cabinet/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/franka_cabinet/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/humanoid/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/humanoid/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/quadcopter/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/quadcopter/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/shadow_hand/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/ant/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/ant/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/cartpole/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/cartpole/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/humanoid/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/classic/humanoid/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/a1/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/a1/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/anymal_b/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/anymal_b/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/anymal_c/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/anymal_c/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/anymal_d/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/anymal_d/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/cassie/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/cassie/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/g1/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/g1/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go1/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go1/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go2/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go2/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/h1/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/h1/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/spot/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/spot/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/cabinet/config/franka/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/cabinet/config/franka/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/inhand/config/allegro_hand/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/inhand/config/allegro_hand/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/lift/config/franka/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/lift/config/franka/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/reach/config/ur_10/agents/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/navigation/config/anymal_c/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/navigation/config/anymal_c/agents/__init__.py
Labels: bug

#795 Renames rsl-rl agent configuration files
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/a1/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/anymal_b/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/anymal_c/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/anymal_d/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/cassie/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/g1/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go1/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/go2/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/h1/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/spot/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/cabinet/config/franka/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/inhand/config/allegro_hand/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/lift/config/franka/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/reach/config/franka/__init__.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/reach/config/franka/agents/rsl_rl_ppo_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/navigation/config/anymal_c/agents/rsl_rl_ppo_cfg.py
Labels: enhancement

#787 Adds flag to preserve joint order inside `JointActionCfg` action term
  CONTRIBUTORS.md
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/actions_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/joint_actions.py
Labels: enhancement

#797 Adds the ability to resume training from a checkpoint with rl_games
  CONTRIBUTORS.md
  source/standalone/workflows/rl_games/train.py
Labels: enhancement

#826 Uses tables instead of long lists inside the cluster docs
  docs/source/deployment/cluster.rst
  docs/source/deployment/docker.rst
Labels: documentation

#824 Fixes the cluster scripts after python migration
  .dockerignore
  .gitignore
  docker/cluster/.env.cluster
  docker/cluster/cluster_interface.sh
  docker/cluster/run_singularity.sh
  docker/cluster/submit_job_slurm.sh
  docker/utils/isaaclab_container_interface.py
Labels: bug

#777 Fixes mode-based checks inside the `EventManager.apply` call
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/event_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/manager_term_cfg.py
  source/extensions/omni.isaac.lab/test/managers/test_event_manager.py
Labels: bug

#700 Adds the Hydra configuration system for RL training
  docs/index.rst
  docs/source/features/hydra.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/app/app_launcher.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/reward_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/termination_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/configclass.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/dict.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/string.py
  source/extensions/omni.isaac.lab/test/utils/test_configclass.py
  source/extensions/omni.isaac.lab_tasks/config/extension.toml
  source/extensions/omni.isaac.lab_tasks/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/anymal_c/anymal_c_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/quadcopter/quadcopter_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/locomotion/velocity/config/h1/rough_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/utils/hydra.py
  source/extensions/omni.isaac.lab_tasks/setup.py
  source/extensions/omni.isaac.lab_tasks/test/test_hydra.py
  source/standalone/workflows/rl_games/train.py
  source/standalone/workflows/rsl_rl/cli_args.py
  source/standalone/workflows/rsl_rl/train.py
  source/standalone/workflows/sb3/train.py
  source/standalone/workflows/skrl/train.py
Labels: enhancement

#832 Adds ability to launch multiple jobs on cluster with different code changes
  docker/cluster/.env.cluster
  docker/cluster/cluster_interface.sh
  docker/cluster/run_singularity.sh
  docker/cluster/submit_job_pbs.sh
  docker/cluster/submit_job_slurm.sh
  docs/source/deployment/cluster.rst
Labels: enhancement

#830 Adds configurable modifiers to observation manager
  docs/source/api/lab/omni.isaac.lab.utils.rst
  docs/source/migration/migrating_from_orbit.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/manager_base.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/manager_term_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/managers/observation_manager.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/modifiers/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/modifiers/modifier.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/modifiers/modifier_base.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/modifiers/modifier_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/noise/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/noise/noise_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/noise/noise_model.py
  source/extensions/omni.isaac.lab/test/managers/test_observation_manager.py
  source/extensions/omni.isaac.lab/test/utils/test_modifiers.py
Labels: enhancement

#835 Updates installation verfication for Windows
  docs/source/setup/installation/verifying_installation.rst
Labels: bug, documentation

#630 Add APIs for deformable asset
  docs/source/api/lab/omni.isaac.lab.assets.rst
  docs/source/how-to/save_camera_output.rst
  docs/source/tutorials/01_assets/index.rst
  docs/source/tutorials/01_assets/run_articulation.rst
  docs/source/tutorials/01_assets/run_deformable_object.rst
  docs/source/tutorials/05_controllers/run_diff_ik.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/articulation/articulation.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/deformable_object/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/deformable_object/deformable_object.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/deformable_object/deformable_object_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/deformable_object/deformable_object_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/assets/rigid_object/rigid_object_data.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/markers/config/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/scene/interactive_scene.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/schemas/schemas.py
  source/extensions/omni.isaac.lab/test/assets/test_deformable_object.py
  source/standalone/demos/deformables.py
  source/standalone/tutorials/01_assets/run_deformable_object.py
Labels: enhancement

#827 Adds images for the tutorial docs
  CONTRIBUTORS.md
  docs/source/_static/tutorials/tutorial_add_sensors.jpg
  docs/source/_static/tutorials/tutorial_create_direct_workflow.jpg
  docs/source/_static/tutorials/tutorial_create_empty.jpg
  docs/source/_static/tutorials/tutorial_create_manager_base.jpg
  docs/source/_static/tutorials/tutorial_create_manager_rl_env.jpg
  docs/source/_static/tutorials/tutorial_creating_a_scene.jpg
  docs/source/_static/tutorials/tutorial_launch_app.jpg
  docs/source/_static/tutorials/tutorial_register_environment.jpg
  docs/source/_static/tutorials/tutorial_run_articulation.jpg
  docs/source/_static/tutorials/tutorial_run_rigid_object.jpg
  docs/source/_static/tutorials/tutorial_spawn_prims.jpg
  docs/source/_static/tutorials/tutorial_task_space_controller.jpg
  docs/source/tutorials/00_sim/create_empty.rst
  docs/source/tutorials/00_sim/launch_app.rst
  docs/source/tutorials/00_sim/spawn_prims.rst
  docs/source/tutorials/01_assets/run_articulation.rst
  docs/source/tutorials/01_assets/run_rigid_object.rst
  docs/source/tutorials/02_scene/create_scene.rst
  docs/source/tutorials/03_envs/create_direct_rl_env.rst
  docs/source/tutorials/03_envs/create_manager_base_env.rst
  docs/source/tutorials/03_envs/create_manager_rl_env.rst
  docs/source/tutorials/03_envs/register_rl_env_gym.rst
  docs/source/tutorials/04_sensors/add_sensors_on_robot.rst
  docs/source/tutorials/05_controllers/run_diff_ik.rst
Labels: documentation

#846 Sets numpy version to below 2.0 in `setup.py`
  source/extensions/omni.isaac.lab/setup.py
Labels: bug

#807 Adds `CODEOWNERS` file to streamline notifications
  .github/CODEOWNERS
  CONTRIBUTORS.md
Labels: enhancement

#898 Fixes initialization of normal velocity command generator
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/commands/velocity_command.py
Labels: bug

#617 Adds function to define camera configs through intrinsic matrix
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/patterns/patterns.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/patterns/patterns_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster_camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/sensors/sensors.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/sensors/sensors_cfg.py
  source/extensions/omni.isaac.lab/test/sensors/test_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_ray_caster_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_tiled_camera.py
  source/extensions/omni.isaac.lab/test/sim/test_spawn_sensors.py
Labels: enhancement, dev team

#901 Fixes support for `classmethod` when defining a configclass
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/configclass.py
  source/extensions/omni.isaac.lab/test/sensors/test_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_ray_caster_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_tiled_camera.py
  source/extensions/omni.isaac.lab/test/utils/test_configclass.py
Labels: bug
