Repository isaac-sim/IsaacLab, pull requests merged in 2024-09, with the labels that each got.

#886 Updates camera docs with world units and introduces new test for intrinsics
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/patterns/patterns_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster_camera.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/ray_caster/ray_caster_camera_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/spawners/sensors/sensors_cfg.py
  source/extensions/omni.isaac.lab/test/sensors/test_ray_caster_camera.py
Labels: documentation, enhancement, dev team

#889 Adds `distance_to_camera` datatype in `TiledCamera`
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sensors/camera/tiled_camera.py
  source/extensions/omni.isaac.lab/test/sensors/test_tiled_camera.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/cartpole/cartpole_camera_env.py
  source/standalone/demos/cameras.py
Labels: enhancement, dev team

#910 Adapts A and D button bindings in the keyboard device
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/devices/keyboard/se3_keyboard.py
Labels: bug

#945 Fixes folder typo in the `create_scene.rst` tutorial
  source/standalone/tutorials/02_scene/create_scene.py
Labels: documentation

#953 Adds support for property attributes inside configclass
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/configclass.py
  source/extensions/omni.isaac.lab/test/utils/test_configclass.py
Labels: bug

#872 Expands on articulation test for multiple instances and devices
  source/extensions/omni.isaac.lab/test/assets/test_articulation.py
Labels: enhancement, dev team

#900 Uses `torch.einsum` for quat_rotate and quat_rotate_inverse operations
  CONTRIBUTORS.md
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/utils/math.py
  source/extensions/omni.isaac.lab/test/utils/test_math.py
Labels: enhancement

#940 Adds setting of environment seed at initialization
  docs/index.rst
  docs/source/features/environments.rst
  docs/source/features/reproducibility.rst
  docs/source/refs/issues.rst
  docs/source/tutorials/01_assets/run_articulation.rst
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/direct_rl_env_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/manager_based_env_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/terrains/terrain_generator.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/terrains/terrain_generator_cfg.py
  source/extensions/omni.isaac.lab/test/terrains/test_terrain_generator.py
  source/extensions/omni.isaac.lab_tasks/test/test_environment_determinism.py
  source/extensions/omni.isaac.lab_tasks/test/test_environments.py
  source/standalone/workflows/rl_games/train.py
  source/standalone/workflows/rsl_rl/cli_args.py
  source/standalone/workflows/rsl_rl/play.py
  source/standalone/workflows/rsl_rl/train.py
  source/standalone/workflows/sb3/train.py
  source/standalone/workflows/skrl/train.py
  tools/per_test_timeouts.py
Labels: bug, enhancement

#965 Simplifies the return type for `parse_env_cfg` method
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/utils/parse_cfg.py
  source/extensions/omni.isaac.lab_tasks/test/test_environments.py
  source/extensions/omni.isaac.lab_tasks/test/test_record_video.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_rl_games_wrapper.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_rsl_rl_wrapper.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_sb3_wrapper.py
  source/extensions/omni.isaac.lab_tasks/test/wrappers/test_skrl_wrapper.py
Labels: enhancement

#957 Adds support for MJCF converter
  CONTRIBUTORS.md
  docs/source/_static/tutorials/tutorial_convert_mesh.jpg
  docs/source/_static/tutorials/tutorial_convert_mjcf.jpg
  docs/source/_static/tutorials/tutorial_convert_urdf.jpg
  docs/source/how-to/import_new_asset.rst
  source/apps/isaaclab.python.kit
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/converters/__init__.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/converters/mjcf_converter.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/sim/converters/mjcf_converter_cfg.py
  source/extensions/omni.isaac.lab/test/sim/test_mjcf_converter.py
  source/standalone/tools/convert_mjcf.py
Labels: enhancement

#986 Fixes typo in the Environment ID of the unitree robots in the `environments.rst` file
  docs/source/features/environments.rst
Labels: documentation

#990 Switches to events for Anymal-C direct environment
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/anymal_c/anymal_c_env.py
Labels: bug

#841 Adds visualization markers customization for the MDP command terms
  source/extensions/omni.isaac.lab/config/extension.toml
  source/extensions/omni.isaac.lab/docs/CHANGELOG.rst
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/commands/commands_cfg.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/commands/pose_2d_command.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/commands/pose_command.py
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/commands/velocity_command.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/direct/anymal_c/anymal_c_env.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/inhand/mdp/commands/commands_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/inhand/mdp/commands/orientation_command.py
Labels: enhancement

#964 Adds test for camera to check that different image sizes work
  source/extensions/omni.isaac.lab/test/sensors/test_camera.py
Labels: enhancement

#1021 Fixes typos in the documentation
  docs/index.rst
  docs/source/deployment/run_docker_example.rst
  docs/source/features/hydra.rst
  docs/source/overview/core-concepts/motion_generators.rst
  docs/source/overview/developer-guide/development.rst
  docs/source/overview/developer-guide/index.rst
  docs/source/overview/developer-guide/repo_structure.rst
  docs/source/overview/developer-guide/vs_code.rst
  docs/source/overview/environments.rst
  docs/source/overview/simple_agents.rst
  docs/source/refs/issues.rst
  docs/source/setup/installation/pip_installation.rst
  docs/source/tutorials/00_sim/launch_app.rst
  docs/source/tutorials/03_envs/create_manager_base_env.rst
Labels: documentation

#1026 Disables replicate physics for deformable teddy lift environment
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/events.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/lift/config/franka/ik_abs_env_cfg.py
  source/extensions/omni.isaac.lab_tasks/omni/isaac/lab_tasks/manager_based/manipulation/lift/lift_env_cfg.py
Labels: bug

#1033 Fixes Jacobian joint indices for floating base articulations
  source/extensions/omni.isaac.lab/omni/isaac/lab/envs/mdp/actions/task_space_actions.py
Labels: bug

#1030 Inverts SE-2 keyboard device actions (Z, X) for yaw command
  source/extensions/omni.isaac.lab/omni/isaac/lab/devices/keyboard/se2_keyboard.py
Labels: enhancement
