Repository isaac-sim/IsaacLab, pull requests merged in 2025-03, with the labels that each got.

#1981 Updates code comments in tutorial scripts
  scripts/tutorials/03_envs/create_cube_base_env.py
  scripts/tutorials/03_envs/create_quadruped_base_env.py
  scripts/tutorials/05_controllers/run_diff_ik.py
Labels: documentation

#1873 Reverts the setting of joint velocity limits for implicit actuators
  docs/source/refs/release_notes.rst
  source/isaaclab/config/extension.toml
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/actuators/actuator_base.py
  source/isaaclab/isaaclab/actuators/actuator_cfg.py
  source/isaaclab/isaaclab/actuators/actuator_pd.py
  source/isaaclab/isaaclab/assets/articulation/articulation.py
  source/isaaclab/isaaclab/assets/asset_base.py
  source/isaaclab/isaaclab/sensors/sensor_base.py
  source/isaaclab/test/assets/test_articulation.py
  source/isaaclab/test/utils/test_math.py
Labels: bug

#1861 Removes `disable_contact_processing` flag from SimulationContext
  docs/source/migration/migrating_from_omniisaacgymenvs.rst
  source/isaaclab/config/extension.toml
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/sensors/contact_sensor/contact_sensor.py
  source/isaaclab/isaaclab/sim/simulation_cfg.py
  source/isaaclab/isaaclab/sim/simulation_context.py
  source/isaaclab/test/sensors/test_contact_sensor.py
  source/isaaclab_tasks/isaaclab_tasks/direct/anymal_c/anymal_c_env_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/direct/franka_cabinet/franka_cabinet_env.py
  source/isaaclab_tasks/isaaclab_tasks/direct/quadcopter/quadcopter_env.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/spot/flat_env_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/velocity_env_cfg.py
Labels: bug

#1989 Moves sensors to core-concepts in the documentation
  docs/index.rst
  docs/source/_static/overview/sensors/camera_depth.jpg
  docs/source/_static/overview/sensors/camera_instance.jpg
  docs/source/_static/overview/sensors/camera_instanceID.jpg
  docs/source/_static/overview/sensors/camera_normals.jpg
  docs/source/_static/overview/sensors/camera_rgb.jpg
  docs/source/_static/overview/sensors/camera_semantic.jpg
  docs/source/_static/overview/sensors/contact_diagram.jpg
  docs/source/_static/overview/sensors/frame_transformer.jpg
  docs/source/_static/overview/sensors/frame_transformer_visualizer.jpg
  docs/source/_static/overview/sensors/imu_diagram.jpg
  docs/source/_static/overview/sensors/imu_visualizer.jpg
  docs/source/_static/overview/sensors/raycaster_patterns.jpg
  docs/source/_static/overview/sensors/raycaster_visualizer.jpg
  docs/source/api/index.rst
  docs/source/overview/core-concepts/index.rst
  docs/source/overview/core-concepts/sensors/camera.rst
  docs/source/overview/core-concepts/sensors/contact_sensor.rst
  docs/source/overview/core-concepts/sensors/frame_transformer.rst
  docs/source/overview/core-concepts/sensors/imu.rst
  docs/source/overview/core-concepts/sensors/index.rst
  docs/source/overview/core-concepts/sensors/ray_caster.rst
  docs/source/overview/reinforcement-learning/rl_existing_scripts.rst
  docs/source/refs/migration_2022_to_2023.rst
  docs/source/tutorials/03_envs/run_rl_training.rst
  scripts/demos/sensors/cameras.py
  scripts/demos/sensors/contact_sensor.py
  scripts/demos/sensors/frame_transformer_sensor.py
  scripts/demos/sensors/imu_sensor.py
  scripts/demos/sensors/raycaster_sensor.py
  scripts/tutorials/03_envs/create_cartpole_base_env.py
  scripts/tutorials/03_envs/create_cube_base_env.py
  scripts/tutorials/03_envs/create_quadruped_base_env.py
  scripts/tutorials/03_envs/run_cartpole_rl_env.py
  source/isaaclab/isaaclab/app/app_launcher.py
  source/isaaclab_rl/config/extension.toml
  source/isaaclab_rl/isaaclab_rl/__init__.py
  source/isaaclab_rl/isaaclab_rl/rl_games.py
  source/isaaclab_rl/isaaclab_rl/rsl_rl/__init__.py
  source/isaaclab_rl/isaaclab_rl/rsl_rl/vecenv_wrapper.py
  source/isaaclab_rl/isaaclab_rl/sb3.py
  source/isaaclab_rl/isaaclab_rl/skrl.py
Labels: documentation

#1992 Moves information from FAQ to Isaac Lab Ecosystem
  docs/index.rst
  docs/source/refs/release_notes.rst
  docs/source/setup/ecosystem.rst
  docs/source/setup/faq.rst
  docs/source/setup/installation/binaries_installation.rst
Labels: documentation

#1990 Fixes `activate_contact_sensors` when using spawner.MultiUsdFileCfg
  source/isaaclab/config/extension.toml
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/sim/spawners/wrappers/wrappers.py
Labels: bug

#1943 Updates docs for segmentation and 50 series GPUs issues
  docs/source/refs/release_notes.rst
  docs/source/setup/installation/binaries_installation.rst
  docs/source/setup/installation/isaaclab_pip_installation.rst
  docs/source/setup/installation/pip_installation.rst
  docs/source/tutorials/04_sensors/add_sensors_on_robot.rst
Labels: documentation

#2016 Bumps IsaacLab version to 2.0.2
  VERSION
  apps/isaaclab.python.headless.kit
  apps/isaaclab.python.headless.rendering.kit
  apps/isaaclab.python.kit
  apps/isaaclab.python.rendering.kit
  apps/isaaclab.python.xr.openxr.kit
  docs/conf.py
  docs/source/refs/release_notes.rst
Labels: documentation

#2021 Fixes path in the `launch.json`
  .vscode/tools/launch.template.json
Labels: bug

#2018 Bumps docker and pip version to 2.0.2 in the docs
  docs/source/deployment/docker.rst
  docs/source/refs/release_notes.rst
  docs/source/setup/installation/isaaclab_pip_installation.rst
Labels: documentation

#1875 Clarifies the default parameters in ArticulationData
  .vscode/tools/settings.template.json
  source/isaaclab/config/extension.toml
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/actuators/actuator_cfg.py
  source/isaaclab/isaaclab/assets/articulation/articulation.py
  source/isaaclab/isaaclab/assets/articulation/articulation_cfg.py
  source/isaaclab/isaaclab/assets/articulation/articulation_data.py
  source/isaaclab/isaaclab/assets/rigid_object_collection/rigid_object_collection.py
  source/isaaclab/isaaclab/assets/rigid_object_collection/rigid_object_collection_data.py
  source/isaaclab/isaaclab/envs/mdp/events.py
  source/isaaclab/test/assets/test_articulation.py
  source/isaaclab_tasks/isaaclab_tasks/direct/shadow_hand/shadow_hand_env_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/direct/shadow_hand_over/shadow_hand_over_env_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/classic/ant/ant_env_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/classic/humanoid/humanoid_env_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/classic/humanoid/mdp/rewards.py
Labels: bug, enhancement

#1987 Removes storage of meshes inside the TerrainImporter class
  source/isaaclab/config/extension.toml
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/terrains/__init__.py
  source/isaaclab/isaaclab/terrains/terrain_importer.py
  source/isaaclab/test/terrains/test_terrain_importer.py
Labels: bug

#2019 Adds action clipping to rsl-rl wrapper
  scripts/reinforcement_learning/rsl_rl/play.py
  scripts/reinforcement_learning/rsl_rl/train.py
  source/isaaclab_rl/config/extension.toml
  source/isaaclab_rl/docs/CHANGELOG.rst
  source/isaaclab_rl/isaaclab_rl/rsl_rl/rl_cfg.py
  source/isaaclab_rl/isaaclab_rl/rsl_rl/vecenv_wrapper.py
Labels: bug

#2040 Adds USD-level randomization mode to event manager
  .vscode/tools/settings.template.json
  scripts/tutorials/03_envs/create_cube_base_env.py
  source/isaaclab/config/extension.toml
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/envs/direct_marl_env.py
  source/isaaclab/isaaclab/envs/direct_rl_env.py
  source/isaaclab/isaaclab/envs/manager_based_env.py
  source/isaaclab/isaaclab/envs/mdp/events.py
  source/isaaclab/isaaclab/managers/event_manager.py
  source/isaaclab/isaaclab/managers/manager_base.py
Labels: enhancement

#2112 Fixes docstrings inconsistencies the code
  CONTRIBUTORS.md
  source/isaaclab/isaaclab/envs/mdp/actions/actions_cfg.py
  source/isaaclab/isaaclab/sim/schemas/schemas_cfg.py
  source/isaaclab/isaaclab/terrains/terrain_generator_cfg.py
Labels: documentation

#2119 Adds more details about state in InteractiveScene
  source/isaaclab/isaaclab/envs/manager_based_env.py
  source/isaaclab/isaaclab/scene/interactive_scene.py
Labels: documentation

#2083 Removes double definition of render settings
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/sim/simulation_cfg.py
  source/isaaclab/isaaclab/sim/simulation_context.py
Labels: bug, dev team

#2153 Adds replicator event for randomizing colors
  scripts/tutorials/03_envs/create_cube_base_env.py
  source/isaaclab/isaaclab/envs/mdp/events.py
Labels: enhancement

#2152 Mounts scripts to docker container
  docker/docker-compose.yaml
Labels: bug

#2117 Initializes manager term classes only when sim starts
  source/isaaclab/isaaclab/envs/direct_marl_env.py
  source/isaaclab/isaaclab/envs/direct_rl_env.py
  source/isaaclab/isaaclab/envs/manager_based_env.py
  source/isaaclab/isaaclab/envs/mdp/events.py
  source/isaaclab/isaaclab/managers/event_manager.py
  source/isaaclab/isaaclab/managers/manager_base.py
  source/isaaclab/isaaclab/managers/observation_manager.py
  source/isaaclab/test/envs/test_scale_randomization.py
  source/isaaclab/test/envs/test_texture_randomization.py
  source/isaaclab/test/managers/test_observation_manager.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/classic/humanoid/mdp/rewards.py
Labels: bug

#2151 Fixes device settings in env tutorials
  scripts/tutorials/03_envs/create_cartpole_base_env.py
  scripts/tutorials/03_envs/create_cube_base_env.py
  scripts/tutorials/03_envs/create_quadruped_base_env.py
  scripts/tutorials/03_envs/policy_inference_in_usd.py
  scripts/tutorials/03_envs/run_cartpole_rl_env.py
Labels: bug

#2154 Updates to latest RSL-RL v2.3.0 release
  docs/source/_static/refs.bib
  docs/source/features/multi_gpu.rst
  docs/source/overview/reinforcement-learning/rl_frameworks.rst
  scripts/benchmarks/benchmark_rsl_rl.py
  scripts/reinforcement_learning/rsl_rl/play.py
  scripts/reinforcement_learning/rsl_rl/train.py
  source/isaaclab_rl/config/extension.toml
  source/isaaclab_rl/docs/CHANGELOG.rst
  source/isaaclab_rl/isaaclab_rl/rsl_rl/__init__.py
  source/isaaclab_rl/isaaclab_rl/rsl_rl/rl_cfg.py
  source/isaaclab_rl/isaaclab_rl/rsl_rl/rnd_cfg.py
  source/isaaclab_rl/isaaclab_rl/rsl_rl/symmetry_cfg.py
  source/isaaclab_rl/setup.py
Labels: enhancement

#2181 Fixes typos in development.rst
  CONTRIBUTORS.md
  docs/source/overview/developer-guide/development.rst
Labels: documentation
