Repository isaac-sim/IsaacLab, pull requests merged in 2025-05, with the labels that each got.

#2128 Adds body_incoming_joint_wrench_b to ArticulationData field
  source/isaaclab/isaaclab/assets/articulation/articulation_data.py
  source/isaaclab/isaaclab/envs/mdp/observations.py
  source/isaaclab/test/assets/test_articulation.py
Labels: enhancement

#2445 Fixes a minor typo in rsl_rl `rl_cfg` docstrings
  source/isaaclab_rl/isaaclab_rl/rsl_rl/rl_cfg.py
Labels: documentation

#2486 Fixes broken import in Live Visualizer image plot
  source/isaaclab/isaaclab/ui/widgets/image_plot.py
Labels: bug

#2394 Adds option for terrain border to above or below the ground
  source/isaaclab/config/extension.toml
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/terrains/terrain_generator.py
  source/isaaclab/isaaclab/terrains/terrain_generator_cfg.py
Labels: enhancement

#2393 Adds option to define the concatenation dimension in the `ObservationManager` and change counter update in `CommandManager`
  source/isaaclab/config/extension.toml
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/managers/command_manager.py
  source/isaaclab/isaaclab/managers/manager_term_cfg.py
  source/isaaclab/isaaclab/managers/observation_manager.py
  source/isaaclab/test/managers/test_observation_manager.py
Labels: enhancement

#1752 Adds method to set the visibility of the Asset's prims
  source/isaaclab/config/extension.toml
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/assets/asset_base.py
Labels: enhancement

#1754 Draws connection lines for FrameTransformer visualization
  source/isaaclab/isaaclab/sensors/frame_transformer/frame_transformer.py
Labels: enhancement
