Repository isaac-sim/IsaacLab, pull requests merged in 2025-02, with the labels that each got.

#1795 Updates EULA link and spelling in documentation
  docs/source/deployment/docker.rst
  docs/source/setup/ecosystem.rst
  docs/source/setup/installation/pip_installation.rst
Labels: documentation

#1776 Fixes incorrect local documentation preview path in xdg-open command
  docs/source/refs/contributing.rst
  source/isaaclab/docs/CHANGELOG.rst
Labels: documentation

#1811 Switches to RSL-RL install from PyPI
  VERSION
  apps/isaaclab.python.headless.kit
  apps/isaaclab.python.headless.rendering.kit
  apps/isaaclab.python.kit
  apps/isaaclab.python.rendering.kit
  apps/isaaclab.python.xr.openxr.kit
  source/isaaclab_rl/setup.py
Labels: bug

#1788 Disables extension auto-reload when saving files
  source/isaaclab/config/extension.toml
  source/isaaclab_assets/config/extension.toml
  source/isaaclab_mimic/config/extension.toml
  source/isaaclab_rl/config/extension.toml
  source/isaaclab_tasks/config/extension.toml
Labels: enhancement

#1821 Fixes reset of sensor drift inside the RayCaster sensor
  source/isaaclab/config/extension.toml
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/sensors/ray_caster/ray_caster.py
Labels: bug

#1654 Adds velocity_limit_sim and effort_limit_sim to actuator
  source/isaaclab/config/extension.toml
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/actuators/actuator_base.py
  source/isaaclab/isaaclab/actuators/actuator_cfg.py
  source/isaaclab/isaaclab/assets/articulation/articulation.py
  source/isaaclab/test/assets/test_articulation.py
Labels: bug

#1913 Adds missing v1.4.1 notes from the release notes RST
  docs/source/refs/release_notes.rst
Labels: bug, documentation

#1806 Adds quote around `isaacsim` in pip_installation.rst
  docs/source/setup/installation/pip_installation.rst
Labels: documentation

#1915 Fixes instructions on importing ANYmal URDF in docs
  docs/source/how-to/import_new_asset.rst
  scripts/tools/convert_mjcf.py
  scripts/tools/convert_urdf.py
  source/isaaclab/isaaclab/sim/converters/urdf_converter_cfg.py
Labels: bug, documentation

#1876 Adds guidelines and examples for code contribution
  docs/source/refs/contributing.rst
Labels: documentation

#1884 Fixes setting of root velocities in the event term `reset_root_state_from_terrain`
  CONTRIBUTORS.md
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/envs/mdp/events.py
Labels: bug
