Repository isaac-sim/IsaacLab, pull requests merged in 2025-09, with the labels that each got.

#2962 Adds changes for rsl_rl 3.0.1
  .github/workflows/license-exceptions.json
  isaaclab.bat
  scripts/reinforcement_learning/rsl_rl/cli_args.py
  scripts/reinforcement_learning/rsl_rl/play.py
  scripts/reinforcement_learning/rsl_rl/train.py
  source/isaaclab_rl/isaaclab_rl/rsl_rl/distillation_cfg.py
  source/isaaclab_rl/isaaclab_rl/rsl_rl/rl_cfg.py
  source/isaaclab_rl/isaaclab_rl/rsl_rl/symmetry_cfg.py
  source/isaaclab_rl/isaaclab_rl/rsl_rl/vecenv_wrapper.py
  source/isaaclab_rl/setup.py
  source/isaaclab_rl/test/test_rsl_rl_wrapper.py
  source/isaaclab_tasks/isaaclab_tasks/direct/allegro_hand/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/direct/ant/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/direct/anymal_c/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/direct/cartpole/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/direct/franka_cabinet/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/direct/humanoid/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/direct/quadcopter/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/direct/shadow_hand/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/classic/ant/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/classic/cartpole/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/classic/cartpole/mdp/symmetry.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/classic/humanoid/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/loco_manipulation/tracking/config/digit/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/a1/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/anymal_b/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/anymal_c/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/anymal_d/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/cassie/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/digit/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/g1/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/go1/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/go2/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/h1/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/spot/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/mdp/symmetry/anymal.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/manipulation/cabinet/config/franka/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/manipulation/inhand/config/allegro_hand/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/manipulation/lift/config/franka/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/manipulation/reach/config/franka/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/manipulation/reach/config/ur_10/agents/rsl_rl_ppo_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/navigation/config/anymal_c/agents/rsl_rl_ppo_cfg.py
  tools/template/templates/agents/rsl_rl_ppo_cfg
Labels: enhancement

#3316 Moves parameter `platform_height` to the correct mesh terrain configuration
  source/isaaclab/isaaclab/terrains/height_field/hf_terrains_cfg.py
  source/isaaclab/isaaclab/terrains/trimesh/mesh_terrains_cfg.py
Labels: bug

#3100 Adds a configuration example for Student-Teacher Distillation
  CONTRIBUTORS.md
  docs/source/overview/reinforcement-learning/rl_existing_scripts.rst
  source/isaaclab_rl/isaaclab_rl/rsl_rl/distillation_cfg.py
  source/isaaclab_rl/isaaclab_rl/rsl_rl/rl_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/anymal_d/__init__.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/locomotion/velocity/config/anymal_d/agents/rsl_rl_distillation_cfg.py
Labels: enhancement

#3360 Change GLIBC version requirement to 2.35 for pip
  docs/source/setup/installation/pip_installation.rst
Labels: documentation

#3447 Fixes missing actuator indices variable in joint randomization
  source/isaaclab/config/extension.toml
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/envs/mdp/events.py
Labels: bug, isaac-lab

#3470 Fixes broken link in environment.rst for Dexsuite envs
  docs/source/overview/environments.rst
Labels: bug, documentation

#3440 Fixes teleop G1 with Inspire hand issues
  source/isaaclab_assets/isaaclab_assets/robots/unitree.py
Labels: bug, asset

#3418 Fixes errors in manipulation envs
  source/isaaclab_tasks/isaaclab_tasks/manager_based/manipulation/place/config/agibot/place_toy2box_rmp_rel_env_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/manipulation/place/config/agibot/place_upright_mug_rmp_rel_env_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/manipulation/stack/config/franka/bin_stack_joint_pos_env_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/manipulation/stack/config/franka/stack_joint_pos_env_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/manipulation/stack/config/franka/stack_joint_pos_instance_randomize_env_cfg.py
Labels: bug, isaac-lab

#3413 Fixes environment tests and disables bad ones
  .github/workflows/build.yml
  source/isaaclab_tasks/test/env_test_utils.py
  tools/test_settings.py
Labels: bug, isaac-lab, infrastructure

#3462 Updates dataset instruction in `teleop_imitation.rst`
  docs/source/overview/imitation-learning/teleop_imitation.rst
Labels: documentation

#3446 Removes extra calls to write simulation after reset_idx
  source/isaaclab/isaaclab/envs/direct_rl_env.py
  source/isaaclab/isaaclab/envs/manager_based_rl_env.py
  source/isaaclab/test/assets/test_articulation.py
Labels: bug, isaac-lab

#3457 Applies the pre-merge CI failure control to the tasks
  .github/workflows/build.yml
Labels: infrastructure

#3487 Optimizes Kit XR Teleop CPU time
  apps/isaaclab.python.xr.openxr.headless.kit
  apps/isaaclab.python.xr.openxr.kit
Labels: documentation, asset, isaac-sim, isaac-mimic, infrastructure

#3488 Updates github actions to error on doc warnings
  .github/workflows/docs.yaml
  .github/workflows/license-check.yaml
  .github/workflows/license-exceptions.json
  .github/workflows/pre-commit.yaml
  docs/Makefile
  docs/conf.py
  docs/make.bat
  docs/source/api/lab/isaaclab.assets.rst
  docs/source/api/lab/isaaclab.sensors.rst
Labels: bug, documentation, infrastructure

#3445 Abstracts out common steps in installation guide
  docs/index.rst
  docs/source/deployment/index.rst
  docs/source/setup/installation/asset_caching.rst
  docs/source/setup/installation/binaries_installation.rst
  docs/source/setup/installation/cloud_installation.rst
  docs/source/setup/installation/include/bin_verify_isaacsim.rst
  docs/source/setup/installation/include/pip_python_virtual_env.rst
  docs/source/setup/installation/include/pip_verify_isaacsim.rst
  docs/source/setup/installation/include/src_build_isaaclab.rst
  docs/source/setup/installation/include/src_clone_isaaclab.rst
  docs/source/setup/installation/include/src_python_virtual_env.rst
  docs/source/setup/installation/include/src_symlink_isaacsim.rst
  docs/source/setup/installation/include/src_verify_isaaclab.rst
  docs/source/setup/installation/index.rst
  docs/source/setup/installation/isaaclab_pip_installation.rst
  docs/source/setup/installation/pip_installation.rst
  docs/source/setup/installation/source_installation.rst
Labels: bug, documentation

#3507 [Newton] Fix spawn of fixed articulations
  source/isaaclab/isaaclab/assets/articulation/articulation.py
Labels: bug, isaac-lab

#3500 Fixes broken links in the documentation
  docs/source/how-to/add_own_library.rst
  docs/source/how-to/import_new_asset.rst
  docs/source/how-to/master_omniverse.rst
  docs/source/overview/developer-guide/vs_code.rst
  docs/source/refs/contributing.rst
  docs/source/refs/reference_architecture/index.rst
  docs/source/refs/release_notes.rst
  docs/source/tutorials/00_sim/launch_app.rst
  docs/source/tutorials/01_assets/add_new_robot.rst
  source/isaaclab/isaaclab/app/app_launcher.py
  source/isaaclab/isaaclab/envs/__init__.py
  source/isaaclab/isaaclab/scene/interactive_scene.py
  source/isaaclab/isaaclab/sensors/contact_sensor/contact_sensor.py
  source/isaaclab/isaaclab/sensors/ray_caster/patterns/patterns.py
  source/isaaclab/isaaclab/sim/converters/mesh_converter.py
  source/isaaclab/isaaclab/sim/simulation_context.py
  source/isaaclab/isaaclab/sim/spawners/materials/__init__.py
  source/isaaclab/isaaclab/sim/spawners/materials/physics_materials_cfg.py
  source/isaaclab/isaaclab/sim/spawners/sensors/sensors_cfg.py
  source/isaaclab/isaaclab/sim/spawners/shapes/shapes.py
  source/isaaclab/isaaclab/sim/utils.py
Labels: bug, documentation, isaac-lab

#3449 Enhances Pbt usage experience through small improvements
  docs/source/features/population_based_training.rst
  scripts/reinforcement_learning/rl_games/train.py
  source/isaaclab_rl/config/extension.toml
  source/isaaclab_rl/docs/CHANGELOG.rst
  source/isaaclab_rl/isaaclab_rl/rl_games/pbt/pbt.py
Labels: bug, documentation, isaac-lab

#3539 Fixes teleop doc in Isaac Lab
  docs/source/how-to/cloudxr_teleoperation.rst
Labels: bug, documentation

#3548 Adds instructions on how to position the lighthouse for manus+vive
  docs/source/how-to/cloudxr_teleoperation.rst
Labels: documentation

#3518 [Newton] Updates Newton docs for beta integration
  docs/source/experimental-features/newton-physics-integration/limitations-and-known-bugs.rst
  docs/source/experimental-features/newton-physics-integration/training-environments.rst
Labels: documentation
