Repository isaac-sim/IsaacLab, pull requests merged in 2025-07, with the labels that each got.

#2901 Fixes missing `ray_cast_drift` in `RayCasterCamera`
  source/isaaclab/config/extension.toml
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/sensors/ray_caster/ray_caster.py
  source/isaaclab/isaaclab/sensors/ray_caster/ray_caster_camera.py
  source/isaaclab/test/sensors/test_ray_caster_camera.py
Labels: bug

#2935 Adds citation link for the repository
  CITATION.cff
Labels: documentation

#2952 Fixes implicit actuator limits configs for assets
  docs/source/how-to/write_articulation_cfg.rst
  docs/source/migration/migrating_from_isaacgymenvs.rst
  docs/source/migration/migrating_from_omniisaacgymenvs.rst
  source/isaaclab/isaaclab/actuators/actuator_base.py
  source/isaaclab/isaaclab/assets/articulation/articulation.py
  source/isaaclab/isaaclab/assets/articulation/articulation_cfg.py
  source/isaaclab_assets/isaaclab_assets/robots/allegro.py
  source/isaaclab_assets/isaaclab_assets/robots/cart_double_pendulum.py
  source/isaaclab_assets/isaaclab_assets/robots/cartpole.py
  source/isaaclab_assets/isaaclab_assets/robots/cassie.py
  source/isaaclab_assets/isaaclab_assets/robots/franka.py
  source/isaaclab_assets/isaaclab_assets/robots/kinova.py
  source/isaaclab_assets/isaaclab_assets/robots/ridgeback_franka.py
  source/isaaclab_assets/isaaclab_assets/robots/sawyer.py
  source/isaaclab_assets/isaaclab_assets/robots/shadow_hand.py
  source/isaaclab_assets/isaaclab_assets/robots/unitree.py
  source/isaaclab_assets/isaaclab_assets/robots/universal_robots.py
  source/isaaclab_tasks/isaaclab_tasks/direct/factory/factory_env_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/direct/franka_cabinet/franka_cabinet_env.py
  source/isaaclab_tasks/isaaclab_tasks/direct/humanoid_amp/humanoid_amp_env_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/manipulation/cabinet/cabinet_env_cfg.py
Labels: bug, documentation

#3011 Fix typos and docstring inconsistencies across environment and utility files
  source/isaaclab/isaaclab/envs/direct_marl_env.py
  source/isaaclab/isaaclab/envs/direct_rl_env.py
  source/isaaclab/isaaclab/envs/manager_based_rl_env.py
  source/isaaclab/isaaclab/envs/mdp/commands/pose_2d_command.py
  source/isaaclab/isaaclab/envs/mdp/commands/pose_command.py
  source/isaaclab/isaaclab/envs/mdp/commands/velocity_command.py
  source/isaaclab/isaaclab/markers/visualization_markers.py
  source/isaaclab/isaaclab/sensors/contact_sensor/contact_sensor.py
  source/isaaclab/isaaclab/sensors/imu/imu.py
  source/isaaclab/isaaclab/sim/simulation_cfg.py
  source/isaaclab_tasks/isaaclab_tasks/direct/quadcopter/quadcopter_env.py
  source/isaaclab_tasks/isaaclab_tasks/manager_based/navigation/mdp/pre_trained_policy_action.py
Labels: documentation

#2687 Update documentation on pytorch multi gpu setup
  CONTRIBUTORS.md
  docs/source/features/multi_gpu.rst
Labels: documentation
