Repository isaac-sim/IsaacLab, pull requests merged in 2025-06, with the labels that each got.

#2454 Adds gradient clipping parameter for distillation using RSL-RL
  CONTRIBUTORS.md
  source/isaaclab_rl/isaaclab_rl/rsl_rl/distillation_cfg.py
  source/isaaclab_rl/setup.py
Labels: enhancement

#2611 Fixes import inside InteractiveScene and LiveVisualizer
  source/isaaclab/isaaclab/scene/interactive_scene.py
  source/isaaclab/isaaclab/ui/widgets/manager_live_visualizer.py
Labels: bug

#2487 Allows for custom `TerrainGenerator` without modifications of the `TerrainImporter`
  source/isaaclab/config/extension.toml
  source/isaaclab/docs/CHANGELOG.rst
  source/isaaclab/isaaclab/terrains/__init__.py
  source/isaaclab/isaaclab/terrains/height_field/hf_terrains_cfg.py
  source/isaaclab/isaaclab/terrains/sub_terrain_cfg.py
  source/isaaclab/isaaclab/terrains/terrain_generator.py
  source/isaaclab/isaaclab/terrains/terrain_generator_cfg.py
  source/isaaclab/isaaclab/terrains/terrain_importer.py
  source/isaaclab/isaaclab/terrains/trimesh/mesh_terrains_cfg.py
Labels: enhancement

#2520 Fixes typo in the docs for adding your own library
  CONTRIBUTORS.md
  docs/source/how-to/add_own_library.rst
Labels: documentation
